{
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=takeout;Username=takeout;Password=takeout"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  }
}
